.wpmarketing .field {
  margin: 20px 0; }
  .wpmarketing .field.half_field {
    float: left;
    width: 50%; }
  .wpmarketing .field label {
    display: block;
    margin-bottom: 6px; }
    .wpmarketing .field label.inline_block {
      display: inline-block; }
  .wpmarketing .field .hint {
    display: block;
    color: #aaa;
    font-size: 10px;
    line-height: 15px; }
.wpmarketing .cta_tab_actions.has_response_text .client_response_url {
  display: none; }
.wpmarketing .cta_tab_actions.has_response_text .client_response_text {
  display: block; }
.wpmarketing .cta_tab_actions .client_response_text {
  display: none; }
.wpmarketing .cta_tab_actions .client_response_url {
  display: block; }
.wpmarketing .main .integrations_tabs {
  border-bottom: 1px solid #ccc; }
  .wpmarketing .main .integrations_tabs .nav-tab {
    float: left; }
.wpmarketing .integrations_tab {
  display: none; }
  .wpmarketing .integrations_tab.selected {
    display: block; }
.wpmarketing .table {
  width: 100%; }
  .wpmarketing .table input, .wpmarketing .table select {
    width: 100%; }
.wpmarketing .has_datepicker {
  width: 8em; }
.wpmarketing .fields .delete_field, .wpmarketing .fields .move_field {
  color: #aaa;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px; }
  .wpmarketing .fields .delete_field:hover, .wpmarketing .fields .move_field:hover {
    color: #777; }
  .wpmarketing .fields .delete_field.move_field, .wpmarketing .fields .move_field.move_field {
    cursor: ns-resize; }
  .wpmarketing .fields .delete_field.delete_field, .wpmarketing .fields .move_field.delete_field {
    margin-top: 2px !important; }
.wpmarketing * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.wpmarketing a {
  outline: none; }
.wpmarketing .give_space {
  padding: 100px;
  text-align: center; }
  .wpmarketing .give_space img {
    display: inline; }
.wpmarketing .activation_form label {
  width: 8em;
  text-align: right;
  margin-right: 10px;
  display: inline-block; }
.wpmarketing .wpmarketing_error {
  background: #F4D6C6;
  border-radius: 4px;
  border: 1px solid #B5847A;
  padding: 10px;
  color: #9F3331;
  margin-bottom: 30px; }
.wpmarketing .wpmarketing_warning {
  background: #F4EABF;
  border-radius: 4px;
  border: 1px solid #B9B48A;
  padding: 10px;
  color: #6D6A4D;
  margin-bottom: 30px; }
.wpmarketing .button.orange, .wpmarketing .button.orange:hover {
  background: #E38B28;
  background: -moz-linear-gradient(top, #e38b28 0%, #f47721 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e38b28), color-stop(100%, #f47721));
  background: -webkit-linear-gradient(top, #e38b28 0%, #f47721 100%);
  background: -o-linear-gradient(top, #e38b28 0%, #f47721 100%);
  background: -ms-linear-gradient(top, #e38b28 0%, #f47721 100%);
  background: linear-gradient(to bottom, #e38b28 0%, #f47721 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E38B28', endColorstr='#f47721',GradientType=0 );
  border-color: #E18C1E;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px #E18C1E; }
.wpmarketing .button.green, .wpmarketing .button.green:hover, .wpmarketing .convert_alert_status.on, .wpmarketing .convert_alert_status.on:hover {
  background: #6acc6d;
  background: -moz-linear-gradient(top, #6acc6d 0%, #62bc68 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6acc6d), color-stop(100%, #62bc68));
  background: -webkit-linear-gradient(top, #6acc6d 0%, #62bc68 100%);
  background: -o-linear-gradient(top, #6acc6d 0%, #62bc68 100%);
  background: -ms-linear-gradient(top, #6acc6d 0%, #62bc68 100%);
  background: linear-gradient(to bottom, #6acc6d 0%, #62bc68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6acc6d', endColorstr='#62bc68',GradientType=0 );
  border-color: #2E9033;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px #2E9033; }
.wpmarketing .button.red, .wpmarketing .button.red:hover, .wpmarketing .convert_alert_status.off, .wpmarketing .convert_alert_status.off:hover {
  background: #d32a2a;
  background: -moz-linear-gradient(top, #d32a2a 1%, #a52121 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #d32a2a), color-stop(100%, #a52121));
  background: -webkit-linear-gradient(top, #d32a2a 1%, #a52121 100%);
  background: -o-linear-gradient(top, #d32a2a 1%, #a52121 100%);
  background: -ms-linear-gradient(top, #d32a2a 1%, #a52121 100%);
  background: linear-gradient(to bottom, #d32a2a 1%, #a52121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d32a2a', endColorstr='#a52121',GradientType=0 );
  border-color: #871A1A;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px #871A1A; }
.wpmarketing .loading, .wpmarketing .errors, .wpmarketing .successes {
  display: none; }
.wpmarketing .top_right_nav {
  float: right; }
.wpmarketing .wpmarketing_clear {
  clear: both;
  display: block; }
.wpmarketing .is_loading .contents {
  display: none; }
.wpmarketing .is_loading .loading {
  display: block; }
.wpmarketing #cta_form [data-field] {
  display: none; }
.wpmarketing .actions_field {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 30px; }
.wpmarketing .tab {
  padding: 15px;
  margin: 0 auto;
  width: 100%; }
.wpmarketing .checklist {
  margin-left: 25px; }
.wpmarketing .wpmarketing_highlight {
  background: #FFF155;
  padding: 3px 8px; }
.wpmarketing .faq .question {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -10px; }
.wpmarketing .blue_form {
  background: #D5F5FF;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #BAD7DF;
  margin-bottom: 10px;
  margin-top: 10px; }
.wpmarketing .blue_form p:first-child {
  margin-top: 0; }
.wpmarketing .blue_form p:last-child {
  margin-bottom: 0; }
.wpmarketing .unlock_code_form input[name="unlock_code"] {
  width: 19em;
  max-width: 100%; }
.wpmarketing .unlock_code_form .loading, .wpmarketing .unlock_code_form .success {
  text-align: center;
  display: none; }
.wpmarketing .generous_spacing {
  padding: 30px;
  text-align: center; }
.wpmarketing .activation_form label {
  width: 8em;
  text-align: right;
  margin-right: 10px;
  display: inline-block; }
.wpmarketing .wpmarketing_error {
  background: #F4D6C6;
  border-radius: 4px;
  border: 1px solid #B5847A;
  padding: 10px;
  color: #9F3331;
  margin-bottom: 30px; }
.wpmarketing .wpmarketing_warning {
  background: #F4EABF;
  border-radius: 4px;
  border: 1px solid #B9B48A;
  padding: 10px;
  color: #6D6A4D;
  margin-bottom: 30px; }
.wpmarketing .unlock_tab h2 {
  border-bottom: 1px solid #eee;
  margin-top: 40px; }
.wpmarketing .pricing_table {
  border-collapse: collapse;
  margin: 30px auto 40px; }
  .wpmarketing .pricing_table th, .wpmarketing .pricing_table td {
    border-bottom: 3px solid #000; }
  .wpmarketing .pricing_table th {
    padding: 8px;
    font-weight: normal;
    color: #777; }
  .wpmarketing .pricing_table td {
    text-align: center;
    padding: 20px;
    vertical-align: top; }
    .wpmarketing .pricing_table td.plan {
      width: 22%; }
    .wpmarketing .pricing_table td.annual_plan {
      width: 34%;
      border-left: 3px solid #000; }
    .wpmarketing .pricing_table td.plan_selected {
      background: #f47721;
      color: #fff; }
      .wpmarketing .pricing_table td.plan_selected .button {
        display: none; }
    .wpmarketing .pricing_table td .price {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin: 0;
      padding-bottom: 10px; }
    .wpmarketing .pricing_table td .site_count {
      margin: 0;
      padding: 0 0 10px; }
.wpmarketing .change_unlock_code_form {
  display: none; }
.wpmarketing .button_wrapper {
  margin: 30px 0;
  text-align: center; }
.wpmarketing .youtube_wrapper img {
  max-width: 100%; }
.wpmarketing .full_width {
  width: 100%; }
.wpmarketing .action_email {
  padding: 15px;
  margin: 0 0 30px;
  background: #eee;
  border: 1px solid #ccc; }
  .wpmarketing .action_email table {
    width: 100%; }
    .wpmarketing .action_email table td {
      padding: 5px; }
    .wpmarketing .action_email table textarea {
      height: 150px; }
.wpmarketing .float_right {
  float: right; }
.wpmarketing .float_left {
  float: left; }

.wpmarketing .postbox-container {
  width: 100%; }
  .wpmarketing .postbox-container .postbox {
    width: 100%; }
.wpmarketing .main {
  width: 75%;
  float: left;
  border-left: 1px solid #eee;
  min-height: 500px; }
  .wpmarketing .main .nav-tab {
    float: right;
    border-bottom: 1px solid #ccc;
    outline: none; }
    .wpmarketing .main .nav-tab.current, .wpmarketing .main .nav-tab.selected {
      background: #fff;
      border-bottom: 1px solid transparent; }
.wpmarketing .postbox .inside {
  padding: 0px;
  margin: 0; }
  .wpmarketing .postbox .inside .main {
    padding: 10px; }
  .wpmarketing .postbox .inside .sidebar {
    width: 25%;
    float: left;
    padding: 10px; }
    .wpmarketing .postbox .inside .sidebar .button {
      display: block;
      text-align: center;
      padding-left: 0px !important;
      padding-right: 0px !important; }
    .wpmarketing .postbox .inside .sidebar .ctas {
      border-top: 1px solid #eee;
      margin: 10px -10px; }
      .wpmarketing .postbox .inside .sidebar .ctas li {
        margin: 0; }
        .wpmarketing .postbox .inside .sidebar .ctas li a {
          display: block;
          padding: 5px 10px;
          border-bottom: 1px solid #eee;
          text-decoration: none;
          outline: none;
          color: #444; }
          .wpmarketing .postbox .inside .sidebar .ctas li a.current, .wpmarketing .postbox .inside .sidebar .ctas li a.parent_of_current {
            background: #0074a2;
            color: #fff; }

.wpmarketing .cta_styles li {
  float: left;
  width: 16.6%;
  padding: 10px;
  text-align: center;
  color: #777;
  font-size: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5; }
.wpmarketing .cta_styles img {
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent; }
.wpmarketing .cta_styles .selected {
  border-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1.0;
  font-weight: bold;
  color: #333;
  font-size: 11px; }
.wpmarketing .cta_styles .selected img {
  border-color: #333; }
.wpmarketing .section {
  margin-bottom: 30px; }
  .wpmarketing .section p {
    margin-left: 15px; }
  .wpmarketing .section ul {
    list-style: disc;
    margin-left: 40px; }
  .wpmarketing .section h3 {
    cursor: default; }
.wpmarketing .ctas .hold_place {
  padding: 25px; }
  .wpmarketing .ctas .hold_place h5 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px; }
  .wpmarketing .ctas .hold_place p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #999; }
.wpmarketing .responses .no_responses {
  display: none; }
.wpmarketing .responses .response td, .wpmarketing .responses .response_details td {
  border-bottom: 1px solid #eee; }
.wpmarketing .responses .response ul, .wpmarketing .responses .response_details ul {
  margin: 0 !important; }
.wpmarketing .responses .response.response_details, .wpmarketing .responses .response_details.response_details {
  display: none; }
.wpmarketing .responses .response.selected_response, .wpmarketing .responses .response_details.selected_response {
  background: #FFF7D0; }
  .wpmarketing .responses .response.selected_response.response, .wpmarketing .responses .response_details.selected_response.response {
    font-weight: bold; }
    .wpmarketing .responses .response.selected_response.response td, .wpmarketing .responses .response_details.selected_response.response td {
      border-bottom: 1px solid #FFF7D0; }
  .wpmarketing .responses .response.selected_response.response_details, .wpmarketing .responses .response_details.selected_response.response_details {
    display: table-row; }
.wpmarketing .cta_tabs {
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 20px; }
.wpmarketing .cta_tab {
  display: none; }
  .wpmarketing .cta_tab.selected {
    display: block; }

.wpmarketing .sync .mailchimp.is_loading .loading {
  display: block; }
.wpmarketing .sync .mailchimp.is_loading .inner_contents {
  display: none; }
.wpmarketing .sync .mailchimp .loading {
  display: none; }

.wpmarketing.unlocked .not_for_unlocked {
  display: none; }
.wpmarketing.unlocked .change_unlock_code_form {
  display: block; }
.wpmarketing.unlocked .unlock_code_form {
  display: none; }
.wpmarketing.locked .not_for_locked {
  display: none; }
.wpmarketing[data-ctas-length="0"].locked .not_for_unlocked {
  display: none; }
.wpmarketing[data-ctas-length="1"].locked .not_for_locked_over_one_cta {
  display: none; }
